$md-dabai: (50 : #f9fbfc,
100 : #eff4f8,
200 : #e4edf3,
300 : #d9e5ee,
400 : #f3f7fa,
500 : #c9dae7,
600 : #c3d6e4,
700 : #bcd0e0,
800 : #b5cbdd,
900 : #a9c2d7,
A100 : #ffffff,
A200 : #ffffff,
A400 : #ffffff,
A700 : #c14b48,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));
